openapi: 3.0.3
info:
  title: Hustle App API
  version: 1.1.0
servers:
  - url: https://api-v2.hustleapp.info/api/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    IdempotencyKey:
      in: header
      name: X-Idempotency-Key
      required: false
      description: Client-generated unique key used to prevent duplicate bank-account registration or withdrawal creation during network retries.
      schema:
        type: string
        minLength: 8
        maxLength: 128
  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    BookingRequest:
      type: object
      required: [provider_service_id, booking_mode, scheduled_start_at]
      properties:
        provider_service_id: { type: integer }
        booking_mode: { type: string, enum: [come_now, scheduled] }
        scheduled_start_at: { type: string, format: date-time }
        expected_duration_minutes: { type: integer }
        service_location_text: { type: string }
        insurance_rate_pct: { type: number }
    HustleApplicationRequest:
      type: object
      required: [pricing_model, offered_amount, currency_code]
      properties:
        pricing_model: { type: string, enum: [per_service, full_amount, per_hour] }
        offered_amount: { type: number }
        currency_code: { type: string }
        expected_completion_at: { type: string, format: date-time }
    ReviewRequest:
      type: object
      required: [target_type, review_subject_account_id, rating]
      properties:
        target_type: { type: string, enum: [artisan, company] }
        review_subject_account_id: { type: integer }
        job_id: { type: integer }
        rating: { type: integer, minimum: 1, maximum: 5 }
        feedback_text: { type: string }
    BankAccountResolveRequest:
      type: object
      required: [bank_code, account_number]
      properties:
        bank_code: { type: string, example: "030100" }
        account_number: { type: string, example: "0123456789" }
    BankAccountCreateRequest:
      type: object
      required: [bank_code, account_number]
      properties:
        bank_code: { type: string }
        account_number: { type: string }
        bank_name: { type: string, description: Optional display fallback; Paystack remains authoritative. }
        is_default: { type: boolean, default: false }
        branch_name: { type: string, nullable: true }
        swift_code: { type: string, nullable: true }
    WithdrawalRequest:
      type: object
      required: [amount, payout_bank_account_id]
      properties:
        amount: { type: string, example: "100.00", description: Decimal major-unit amount. }
        payout_bank_account_id: { type: integer }
    WithdrawalOtpRequest:
      type: object
      required: [otp_code]
      properties:
        otp_code: { type: string, example: "123456" }
    AdminPayoutActionRequest:
      type: object
      properties:
        action:
          type: string
          enum: [approve, retry, verify, finalize_otp, decline, manual_review]
        otp: { type: string, description: Required only for finalize_otp while Paystack transfer OTP is enabled. }
        failure_reason: { type: string, description: Required for decline. }
paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Healthy
  /auth/login:
    post:
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
  /categories:
    get:
      summary: List categories
      responses:
        '200': { description: OK }
  /services:
    get:
      summary: List provider services
      responses:
        '200': { description: OK }
  /bookings:
    post:
      summary: Create booking
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '201': { description: Booking created }
  /hustles:
    get:
      summary: List hustle posts
      responses:
        '200': { description: OK }
    post:
      summary: Create hustle post
      security: [{ bearerAuth: [] }]
      responses:
        '201': { description: Hustle created }
  /hustles/{id}/applications:
    post:
      summary: Apply to hustle post
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HustleApplicationRequest'
      responses:
        '201': { description: Application created }
  /jobs:
    get:
      summary: List jobs for current user
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: OK }
  /jobs/{id}/complete:
    post:
      summary: Mark job complete
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Job completed }
  /wallet:
    get:
      summary: Wallet summary
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: OK }
  /wallet/payout-banks:
    get:
      summary: List Paystack-supported Ghana payout banks
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Banks loaded }
        '502': { description: Paystack could not be reached }
  /wallet/bank-accounts/resolve:
    post:
      summary: Resolve a bank account through Paystack
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BankAccountResolveRequest' }
      responses:
        '200': { description: Account resolved }
        '422': { description: Account could not be resolved }
  /wallet/bank-accounts:
    get:
      summary: List current provider payout accounts
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Accounts loaded }
    post:
      summary: Resolve the account and create/reuse a Paystack transfer recipient
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BankAccountCreateRequest' }
      responses:
        '201': { description: Bank account registered for payouts }
        '422': { description: Invalid or unresolvable bank account }
  /wallet/withdrawals:
    post:
      summary: Request a wallet withdrawal and send the provider OTP; Paystack account verification and payout limits apply when automated payouts are enabled
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WithdrawalRequest' }
      responses:
        '201': { description: Withdrawal created in pending state }
        '403': { description: Approved KYC is required }
        '422': { description: Limit, balance, currency, or bank-account validation failed }
  /wallet/withdrawals/{id}/verify-otp:
    post:
      summary: Confirm a withdrawal, reserve wallet funds, and optionally queue it
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WithdrawalOtpRequest' }
      responses:
        '200': { description: Withdrawal approved or queued }
        '422': { description: Invalid OTP or insufficient balance }
  /payments/webhooks/paystack:
    post:
      summary: Receive signed Paystack payment and transfer lifecycle events
      description: Validates x-paystack-signature. Handles charge.success, transfer.success, transfer.failed, and transfer.reversed idempotently.
      responses:
        '200': { description: Event acknowledged }
        '401': { description: Invalid signature }
  /payments/paystack/transfer-approval:
    post:
      summary: Paystack server-side transfer approval callback
      description: Public Paystack-only callback. Returns HTTP 200 only when reference, amount, currency, recipient and local withdrawal state match; otherwise HTTP 400.
      responses:
        '200': { description: Transfer approved }
        '400': { description: Transfer rejected }
  /admin/withdrawals:
    get:
      summary: List withdrawals and Paystack payout states
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Withdrawals loaded }
  /admin/withdrawals/{id}:
    get:
      summary: View withdrawal, recipient, transfer and reconciliation details
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Withdrawal loaded }
        '404': { description: Withdrawal not found }
  /admin/withdrawals/{id}/process:
    post:
      summary: Backward-compatible action endpoint for payout operations
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminPayoutActionRequest' }
      responses:
        '200': { description: Action completed }
        '422': { description: Unsafe or invalid transition }
  /admin/withdrawals/{id}/approve:
    post:
      summary: Approve and queue a withdrawal for Paystack
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Payout queued }
  /admin/withdrawals/{id}/retry:
    post:
      summary: Requeue only a reconciled, non-refunded payout whose Paystack outcome is still safe to retry using the original reference
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Safe payout requeued with its original immutable reference }
        '422': { description: Final, refunded, processing, or otherwise unsafe payout cannot be retried }
  /admin/withdrawals/{id}/verify:
    post:
      summary: Verify and reconcile the transfer directly with Paystack
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Reconciliation completed }
  /admin/withdrawals/{id}/finalize-otp:
    post:
      summary: Finalize a transfer while Paystack transfer OTP is enabled
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp]
              properties:
                otp: { type: string }
      responses:
        '200': { description: OTP submitted }
  /admin/withdrawals/{id}/decline:
    post:
      summary: Decline a withdrawal before a Paystack transfer exists and refund the wallet
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [failure_reason]
              properties:
                failure_reason: { type: string }
      responses:
        '200': { description: Declined and refunded }
        '422': { description: Transfer already exists or state is unsafe }
  /admin/withdrawals/{id}/manual-review:
    post:
      summary: Place an uncertain payout under manual reconciliation
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Manual review status applied }
  /reviews:
    post:
      summary: Create review
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewRequest'
      responses:
        '201': { description: Review created }
  /admin/dashboard:
    get:
      summary: Admin dashboard metrics
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: OK }
